body {
    direction: rtl;
    margin: 1px;
    font-size: 500;
}
#title1 {
    text-align: center;
    font-family: b titr;
    font-size: 30px;
}

header {
    background-color: #ffd614;
    color: rgb(255, 255, 255);
    padding: 14px 20px;
}

aside {
    width: 200%;
    padding: 10PX 10PX 10PX 10PX;
    border-radius: 0px;
}


section { direction: rtl;
    width: 100%;
    padding: 10px 10px 20px 3px ;
    display: flex;
    justify-content: center;
    font-family: b lotus;

    


}

nav {
    display: flex;
    background-color: #ffffff;
    text-align: center;
    padding: 1px 1px;
    text-decoration: none;

}

.menu{
    box-shadow: #f7ce00 0px 2px 15px;

}

nav a {
    color: #000000;
    padding: 5px 5px;
    text-decoration: none;
    text-align: center;
    margin: 1rem;
    font-family: b lotus;
}

nav a:hover {
    background-color: #efe5e5;
}
#tr{
border-radius: 25px;
padding: 9px 9px;


}
footer{
    font-family: b badr;
    text-align: center;
    background-color:rgb(116, 112, 112);

}
.mmm{
font-size: 2px;
font-family: b lotus;
color: #f7ce00;
background-color: aqua;
}